:root {
    --cortema : #F85B1A;
    --cortema : #072083;
    --cortema : #FFD7C1;
    --cortema : #E59982;
    --cortema : #000000;
    --cortema : #8A9294;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}
.navbar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    
}
.navbar a {
    color: #000000;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0 1.3rem;
    font-weight: bold;
}
.container{
    background-color: #ffe9de;
    display: flex;
    align-items: center;
    justify-content: center;

    & h2{
        font-size: 2.5rem;
    }
    & p{
        font-size: 1.5rem;
    }
}

.footer{
    
}
.button{
    padding: .5rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: #072083;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}