*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #505050;
}
.navbar{
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar h1 img {
    height:110px ;
    width: 180px ;
    margin-left: 30px;
}
.menu-navbar{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    list-style: none;
    & a{
       
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
        color: #a77f0ff5;
    }
    & .li-button button{
        padding: .5rem 2rem;
        border-radius: 5px;
        border: none;
        background-color: #a77f0ff5;
        font-size: 1.3rem;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
}
}
main{
    background: radial-gradient(#e57979, #f1c13df5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    flex: 1;
}
.contant-main{
    display: flex;
    flex-direction: column;
    & h2 {
        color: #474646f5;
        font-size: 5rem;
    }
    & p{
        color: #474646f5;
        font-size: 1.5rem;
        width: 500px;
        margin-top: 30px;
    }
    & .button-main{
        width: 200px;
        padding: .5rem;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 10px #000000;
        background: #c23b3b;
        font-size: 1.2rem;
        font-weight: 600;
        color: #ffffff;
        cursor: pointer;
        margin: 100px 0;
    }
}
.img{
    display: flex;
   

    
}
.img-main{
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 10px 30px;
}
 

.section-sobre{
    background-color: #fddd87f5;
    padding: 1rem;
}
.container-sobre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    gap: rem;
    padding: 2rem;
    & .contant-sobre{
        width: 500px;

        & h2{
            font-size: 4rem;
            margin-bottom: 50px ;
            color: #474646f5;
            font-style: italic;
            
        }
        & p{
            color: #474646f5;
            font-size: 1.5rem;
            margin-bottom: 30px ;
            line-height: 45px;
        }
        & a{
            font-size: 1.4rem;
            text-decoration: underline;
            color: #c23b3b;
            font-weight: 600;
            font-style: italic;
            
        }
    }

}

.img-sobre{
    & img{
        width: 600px;
        border-radius: 10px;
    }
    
}