*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #505050;
}
.navbar{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar h1 img {
    height:110px ;
    width: 180px ;
    margin-left: 30px;
}
.menu-navbar{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    list-style: none;
    & a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
        color: #a77f0ff5;
    }
    & .li-button button{
        padding: .5rem 2rem;
        border-radius: 5px;
        border: none;
        background-color: #a77f0ff5;
        font-size: 1.3rem;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
}
}
main{
    background-color: #e3c574f5;
    padding: 1rem;
}
.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    & .contant-main{
        width: 500px;

        & h2{
            font-size: 4rem;
            margin-bottom: 50px ;
            color: #000000f5;
            font-style: italic;
            
        }
        & p{
            font-size: 1.5rem;
            margin-bottom: 30px ;
            line-height: 45px;
        }
        & a{
            font-size: 1.4rem;
            text-decoration: underline;
            color: #c23b3b;
            font-weight: 600;
            font-style: italic;
            
        }
    }

}

.img-main{
    & img{
        width: 800px;
        border-radius: 10px;
    }
}